h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

p {
  font-size: 30px;
}

.p__family {
  font-family: Arial;
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  width: 400px;
}

.p__font {
  font: italic bold 25px/30px "Arial";
}
